<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <!-- Responsive Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="theme-color" content="blue" />
  <!-- <meta http-equiv="refresh" content="1">-->
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <!-- JavaScript -->
  <script src="libs/eruda.min.js"></script>
  <script>
    eruda.init();
    eruda.get().config.set('displaySize', 60);
    eruda.remove('info');
    eruda.remove('sources');
    eruda.remove('snippets');
    eruda.remove('settings');
  </script>
  <title>Painter</title>
</head>

<body>

  <!-- JavaScript -->
  <script type="text/javascript" src="js/main.js"></script>
</body>

</html>